.game-board {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.game-board .box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1001;
}

.overlay-message {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 180px;
  padding: 30px;
  margin-top: -90px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -150px;
  /*set to a negative number 1/2 of your width*/
  border-radius: 10px;
  background-color: #333;
  z-index: 1002;
  opacity: 0.9;
}

.overlay-message h2, .overlay-message button {
  opacity: 1;
}

.modal-content {
  z-index: 1002;
}
/*# sourceMappingURL=custom.css.map */