<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Tic Tac Toe - Donovan Griggs</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/cover.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="app">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Tic Tac Toe</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#" v-if="gameIsStarted" @click="restartGame">Restart</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <div class="game-board" v-if="gameIsStarted">
        <div class="box" v-for="(marker, index) in board" @click="move" :id="index">
          {{marker}}
        </div>
      </div>

      <div class="overlay" v-if="tie || loss || !gameIsStarted"></div>
      <div class="overlay-message" v-if="tie || loss || !gameIsStarted">
        <h2 v-if="tie">It's a tie!</h2>
        <h2 v-if="loss">You lost!</h2>
        <h2 v-if="!gameIsStarted">Try to win!</h2>
        <hr/>
        
        <button type="button" class="btn btn-secondary" v-if="!gameIsStarted" @click="startGame">Start game.</button>
        <button type="button" class="btn btn-secondary" v-if="tie || loss" @click="restartGame">Try again.</button>
      </div>

    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Built by, {{name}}.</p>
      </div>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>